*{
    box-sizing: border-box; /* semuanya bakal sesuai ukuran */
    /*box-sizing: border-box; nata ukur tabel masukan pencarian*/
}

body{
    background-image:url(images/background.png); 
    background-repeat:repeat-x; /* untuk gambar tidak berulang*/
    background-size: 100%; /* untuk ukuran background */

    font-family: Roboto, sans-serif; /*roboto ambil dari online dari link rel di insex.html*/

}

.site-content{ /* grouping seluruh content ke tengah */
    max-width:1125px; /*supaya gambar background otomatis ngikutin besar kecil gchrome */
    margin: 0 auto; /* hanya utk display block dan width untuk posisi tengah*/
}
/*class= hero utk header*/
.hero{
    padding:120px/*atas bawah */ 15px /*kiri kanan*/;
    text-align:center;

}
.title , .subtitle{
    display:block;
}
.title{ /*Taman Bandung*/
    font-family:'Playfair Display';
}
.subtitle{/*Jelajah*/
    font-family:'Caveat';
    font-weight:normal; /* tebal engganya jelajah*/
}
.hero .title{
    font-size:72px;
}
.hero p{ /* p untuk paragraf */
    font-size: 22px;
    font-weight: 300;
}
.hero .subtitle{
    font-size:64px;
}

.hero form{
    max-width: 550px;
    margin: 70px auto 0;
    position: relative; /* ngebatasin postion absolute */
}

.hero form input{
    width: 100%;
    font-size: 16px;
    padding: 20px 70px 25px 25px;
    border-radius: 45px; /* membulatkan tabel pencarian*/
    border: none;
    box-shadow: 0 10px 13px rgba(0,0,0,0.05); /* 0.5 untuk transparan tabel pencarian */
    outline:none;
    transition: border-color 300ms ease-out;
}
.hero form input:focus {
    border: 2px solid rgb(146, 146, 175);
}

.hero form button { /*untuk icon pencarian */
    position: absolute;
    top:5px;
    right:18px;
    font-size: 36px;
    color: #e3a6a9;
    border: none;
    background: none;
}

.grid-layout{

}
.grid-layout:after {
    content: " ";
    clear: both; /* bisa left, both, right */
    display: block;
}

.grid-item {
    width:33.3333%; /*100 : 3 krna 3 gambar */
    float:left; /*rata gambar kiri */
    padding: 0 15px; /* jarak gambar */
}

.grid-item:nth-child(3n+1) {
    clear: both;
}

.taman {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.05); /* shadow gambar */

}
.taman figure{
    margin: 0 /*biar gambarnya rata rapi */
}
.taman figure img{ width: 100%}

.taman-detail {
    padding: 15px;
    text-align: center;
}

.taman a{
    text-decoration: none;
}
.taman-detail h2 {
    font-size: 28px;
    margin: 5px 0 15px;
}
.taman-detail .title {
    color: black;
}
.taman-detail .subtitle {
    color: #888;

}
.taman-detail p {
    font-size: 14px;
    color: #929292; /*warna dan ukuran nama alamat */
}

.footer { /*untuk bagian copyright bawah */
    text-align: center;
    padding: 90px 15px 40px;
    color: #535353;
}

@media screen and (max-width: 990px){ /*990px untuk tabel tampilan resize besar kecil halaman web*/
    .grid-item{width: 50%}
    .grid-item:nth-child(3n+1){clear: none}
    .grid-item:nth-child(2n+1){clear: both}
}

@media screen and (max-width: 480px) { /*480px untuk dimobile */
    .hero .subtitle {font-size:48px }
    .hero .title {font-size: 30px}
    .grid-item{width:100%}
}
    
